import React from 'react'; import styles from './{{name}}.module.css'; export default function
{{name}}() { return (
<div className='{styles.page}'>
  <h1>{{name}}</h1>
  <p>Page {{name}} prête.</p>
</div>
); }